/* .flex-container-element { 
    display: flex; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 10px; 
    width: 98%; 
}  
.flex-legend { 
    flex: 2;
    margin: 10px; 
    width: 10%;
    border: 1px solid red;
}

.flex-graph { 
    flex: 9;
    margin: 10px; 
    width: 90%;
    border: 1px solid red;
}



  .buttons {
    text-align: left; 
    flex-direction: column;
  }

  .buttons .button {
    display: inline-block; /* Makes each button occupy its own line */
    /* margin: 10;     
  } */ 
