

body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    background-color: #1d2E28;
  }
  
  h1 {
    color: #daf1de;
    text-align: center;
    font-weight: bold;
    padding-top: 2cm;
  }

  h2 {
    color: #daf1de;
    text-align: left;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #daf1de;
    display: flex
  }

.tooltip {
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid silver;
    color: #222;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
  }
/* put an outline around all when selected */
  button.button.all.initial  {
    outline: 2px solid #daf1de;
}

/* #globalFrequency {
  display: flex;
  margin: auto;
} */

.chartTitle {
  color: #daf1de;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  vertical-align: top;
  border: 1px solid red;

}

.chart {
  width: 90%;
  border: 1px solid red;
  padding-top: 25px;
  justify-content: center;


}
#legendButtons {
  margin: auto;
  padding: 10px;
  display: flex; /* Enables flexbox layout */
  flex-direction: row;
  flex-wrap: wrap; /* Allows buttons to wrap to the next row if needed */
  gap: 10px; /* Adds space between buttons */
  justify-content: left; /* Align buttons horizontally */
  left: 0;
  right: 0;
  border: 1px solid red;
}

.container.global {
  display: flex;
  flex-direction: column;
}

