

body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10;
    background-color: #1d2E28;
  }
  
  h1 {
    color: #daf1de;
    text-align: center;
    font-weight: bold
  }

  h2 {
    color: #daf1de;
    text-align: left;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #daf1de;
    display: flex
  }

.tooltip {
    font-weight: bold;
    padding: 0.5rem;
    border: 1px solid silver;
    color: #222;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
  }

#globalFrequency {
  display: block;
  margin: auto;
}

.chartTitle {
  color: #daf1de;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 10%;
  vertical-align: top;
  border: 1px solid red;

}

.chart {
  width: 85%
}
#legendButtons {
  display: flex; /* Use flexbox for layout */
  flex-wrap: wrap; /* Allows wrapping if buttons overflow */
  gap: 10px; /* Adds space between buttons */
  justify-content: center; /* Align buttons horizontally */
}
